@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/modal.scss";

#map {
  height: 100vh;
}

.card {
    margin-top: 20px;
    box-shadow: 3px 1px 10px 2px;
    text-align: center;
    cursor: pointer;
}